:root {
  --linkstack-dialog-border-radius: 0.5rem;
  --linkstack-dialog-box-shadow: 0 0 var(--size-16) rgba(0 0 0 / 30%);
  --linkstack-dialog-backdrop: rgb(0 0 0 / 70%);
}

body {
  background: #fff url("../assets/pattern.svg") top left repeat;
  background-size: 110%;
  color: #333;
  padding-block: 2rem;
  padding-inline: 4rem;
}

.page-container {
  margin: 0 auto;
  max-inline-size: 80vw;
}

.page-heading {
  margin-block-end: 2rem;
}
